body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
}

#cr-stage {
    background-image: -moz-linear-gradient(top, whitesmoke 20%, white 90%);
    border: 1px solid lightgray;
    margin: 50px auto;
}

#resource-map p { 
    float:left;
    min-width: 4em;
    border: solid 1px #a499a8;
}
